.div {
    max-width: 100%;
    text-align: center;
}

button {
    margin: 4px;
}

span.input-error {
    font-size: 15px;
    font-weight: normal;
    color: #FF4040;
    display: block;
    margin: 0;
}


#liffdata{
    display: none;
}

#comment-input{
	display: none;
}